@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 450px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 451px) and (max-width: 576px) {
    html {
        font-size: 90%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 5px;
}

scrollbar {
    width: 8px;
}

scrollbar-track {
    background: #f1f1f1;
}

scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
